<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>

</head>
<body>
    <<h1>Bookstore List</h1>
    
    <a href="/">Home</a>
    <a href="/books">Book</a>
    <a href="/books/add">Add Book</a>  
    <a href="/books/edit/:id">Edit Book</a> 

    <form action="/students/add" method="post">
        <input type="text" name="title" id="title" placeholder="Title">
        <input type="text" name="status" id="status" placeholder="Status">
        <input type="text" name="author" id="author" placeholder="Author">
        <input type="text" name="pages" id="pages" placeholder="Pages">
        <input type="text" name="genre" id="genre" placeholder="Genre">
        <input type="submit" value="Submit">
    </form>

</body>
</html>