<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table {
            width: 500px;
        }
        th, td {
            padding: 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Bookstore List</h1>
    
    <a href="/">Home</a>
    <a href="/books">Book</a>
    <a href="/books/add">Add Book</a>  
    <a href="/books/edit/:id">Edit Book</a> 
    
    
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(book => { %>
                <tr>
                    <td><%= book.id %></td>
                    <td><%= book.title %></td>
                    <td><%= book.status %></td>
                    <td><%= book.author %></td>
                    <td><%= book.pages %></td>
                    <td><%= book.genre %></td>
                    <td><a href="books/delete/ <%= book.id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>